.jumbotron {
  padding: 1.5rem;
  color: #cdbfe3;
  background-color: #6f5499;
}

.jumbotron h1 {
  color: #fff;
}

.top-buffer {
  margin-top: 2rem;
}

.card {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #F5F5F5;
}

.contact-form-btn {
  margin-right: 1rem;
  margin-left: 1rem;
}