body {
  display: block;
  margin: 0;
  box-sizing: border-box;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

ul, li, div, .media {
  display: block;
}

dl {
  margin-bottom: 20px;
}

.jumbotron {
  padding: 1.5rem;
  color: #cdbfe3;
  background-color: #6f5499;
}

.jumbotron h1 {
  color: #fff;
}

.top-buffer {
  margin-top: 2rem;
}

.card {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #F5F5F5;
}

.contact-form-btn {
  margin-right: 1rem;
  margin-left: 1rem;
}